@import "./base.css";

#app {
  max-width: 100%;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;

  background: white;
  font-weight: normal;
}

/* Hide Google Translate top bar */
.goog-te-banner-frame.skiptranslate {
    display: none !important;
}

body {
    top: 0 !important;
}

